version: "3.8"

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant-dev
    environment:
      - QDRANT_LOG_LEVEL=DEBUG
      - VECTOR_DIM=768
    ports:
      - "5100:5100"
      - "6333:6333"
    volumes:
      - C:/docker-data/qdrant/storage:/qdrant/storage
    networks:
      - webtools_network

networks:
  webtools_network:
    external: true
