# Standalone Qdrant for development

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant-dev
    environment:
      - QDRANT__LOG_LEVEL=DEBUG
    ports:
      - "5100:5100" # Dashboard UI
      - "6333:6333" # HTTP API
    volumes:
      - C:/docker-data/qdrant/storage:/qdrant/storage
    networks:
      - webtools_network

networks:
  webtools_network:
    external: true
